# QuantBot Challenge - Zachary Tiller

In [209]:
import pandas as pd
import numpy as np

Load In The Data

In [212]:
prices = pd.read_csv("prices.csv",index_col=0)
static_data = pd.read_csv("static_data.csv",index_col=0)

# create columns for prices data
prices[['close USD', 'mkt_cap_USD']] = 999.99
prices[['n-day Vol MA', 'n-day MA Closing Price', 'n-day Close STDEV']] = 999.99 

num_zeros = np.sum(prices.isin([0]).sum(axis=1))
# replace zeros with NaNs so that later we can interpolate
prices.replace({0:float('NaN')}, inplace=True)
print(num_zeros)

305

In [213]:
# replace zeros with NaNs so that later we can interpolate

In [196]:
static_data

             symbol currency
internal_id
40014265      BALDB      SEK
40044140        WDP      EUR
40044631     DEMANT      DKK
40048791       OCDO      GBp
40060061        TWR      EUR
41002414        ADE      EUR
41009729        ADE      NOK
41010611        TKO      GBp

I want to create a dict of {id : symbol} for easier reading
Then I want to seperate the price data into seperate dataframes just for each symbol
Then I want to investigate each dataset for any Null or strange looking values

In [197]:
# Check that the IDs of the prices are matching with IDs of static_data:
def check_for_unique_IDs(price, static):
    for ID in np.unique(np.array(prices['internal_id'])):
        if ID not in np.array(static.index):
            print('Unrecognised ID found: {}'.format(ID))
    else:
        print('All IDS match')
    return None

check_for_unique_IDs(prices, static_data)

All IDS match

In [198]:
static_data.loc[(static_data['symbol']=='ADE') & (static_data['currency']=='EUR'), 'symbol'] = 'ADE_EUR'
static_data.loc[(static_data['symbol']=='ADE') & (static_data['currency']=='NOK'), 'symbol'] = 'ADE_NOK'
static_data

              symbol currency
internal_id
40014265       BALDB      SEK
40044140         WDP      EUR
40044631      DEMANT      DKK
40048791        OCDO      GBp
40060061         TWR      EUR
41002414     ADE_EUR      EUR
41009729     ADE_NOK      NOK
41010611         TKO      GBp

In [199]:
symbol_dict = {idx:row['symbol'] for idx, row in static_data.iterrows()}
prices['internal_id'] = prices['internal_id'].replace(symbol_dict)

In [200]:
prices

,internal_id,close,tradable_volume,mkt_cap,volat_21,fx_to_usd,close USD,mkt_cap_USD
date,,,,,,,,
20200102,BALDB,NaN,320804.0,7.976136e+09,0.011306,0.106730,999,999
20200102,WDP,130.700,7473.0,2.630413e+11,0.006890,1.116600,999,999
20200102,DEMANT,208.600,300022.0,7.645634e+09,0.011913,0.149425,999,999
20200102,OCDO,1259.500,916046.0,1.154667e+10,0.014953,0.013127,999,999
20200102,TWR,28.595,10230.0,2.478843e+10,0.013682,1.116600,999,999
...,...,...,...,...,...,...,...,...
20211231,OCDO,1678.000,271490.0,1.684007e+10,0.024264,0.013543,999,999
20211231,TWR,37.805,0.0,3.421046e+10,0.028294,1.137900,999,999
20211231,ADE_EUR,40.700,0.0,2.303011e+08,0.037269,1.137900,999,999
20211231,ADE_NOK,117.300,0.0,1.552132e+10,0.027023,0.113497,999,999
20211231,TKO,149.000,0.0,5.729325e+08,0.025545,0.013543,999,999

In [205]:
# Define 8 dfs of the prices, and interpolate where we have NaNs
df_BALDB = prices[prices['internal_id']=='BALDB'].interpolate(method='linear')
df_WDP = prices[prices['internal_id']=='WDP'].interpolate(method='linear')
df_DEMANT = prices[prices['internal_id']=='DEMANT'].interpolate(method='linear')
df_OCDO = prices[prices['internal_id']=='OCDO'].interpolate(method='linear')
df_TWR = prices[prices['internal_id']=='TWR'].interpolate(method='linear')
df_TKO = prices[prices['internal_id']=='TKO'].interpolate(method='linear')
df_ADE_EUR = prices[prices['internal_id']=='ADE_EUR'].interpolate(method='linear')
df_ADE_NOK = prices[prices['internal_id']=='ADE_NOK'].interpolate(method='linear')

df_set = [df_ADE_EUR, df_ADE_NOK, df_BALDB, df_WDP, df_DEMANT, df_OCDO, df_TKO, df_TWR]

In [ ]:
# we want to deal with any NaNs which fall at the end or start, as these arent interpolated by the interpolate method
def fill_endpoints(df):
    # backwards fill the NaNs at start:
    
    
    # forward fill the NaNs at end:

In [ ]:
# NOW: Calc Billonger Bands Columns
#        Calc rolling stdvol
#

Vol = stdev of log returns
what u calc as vol is not nevessarily what the vol is
vol is a latent variable!! sample size matters; too smaall, bad, too big, bag
histprical vol is an estiamtor of a population parameter

close to close vol; estimator of vol, unbiased